{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>{% block title %}Бесплатные объявления{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" >
    {% block styles %} {% endblock %}
</head>
<body>
    <header class="header">
        <div class="container">
            <a class="header__logo" href="{% url 'ads:home' %}">Ads board</a>
            <nav class="header__navbar">
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="">{{ user }}</a></li>
                        <li><a href="{% url 'ads:ads-create' %}">Создать объявление</a></li>
                        <li><a href="{% url 'ads:ads-user-list' %}">Мои объявления</a></li>
                        <li><a href="{% url 'logout' %}">Выйти</a></li>
                     {% else %}
                        <li><a href="{% url 'custom_user:login' %}">Войти</a></li> /
                        <li><a href="{% url 'custom_user:signup' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
</body>
</html>