.ad-list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ad-list-item__wrapper {
    flex-basis: 50%;
    width: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.ad-list__item {
    padding: 0 10px;
    overflow: hidden;
    width: 100%;
    max-width: 240px;
}
@media only screen and (min-width: 768px) {
    .ad-list-item__wrapper {
        flex-basis: 33.33333%;
        width: 33.33333%;
    }
}
@media only screen and (min-width: 998px) {
    .ad-list-item__wrapper {
        flex-basis: 25%;
        width: 25%;
    }
}
.ad-list__item__tooltip {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    color: #ccc;
    font-size: 18px;
}
.ad-list__item__tooltip__user {
    flex: 1;
}
.ad-list__item__tooltip__message {
    margin-right: 5px;
}
.ad-list__item__tooltip__message:hover {
    color: #27ae60;
}
.ad-list__item__tooltip__like:hover {
    color: #e74c3c;
}
.ad-list__item_pic {
    width: 100%;
    height: 170px;
    overflow:hidden;
    border-radius: 1px;
    background: #000;
    display: block;
}
.ad-list__item_pic img {
    width: 100%;
    height: 100%;
}
.ad-list__item__footer {
    margin-bottom: 25px;
}
.ad-list__item__price {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    padding: 7px 0;
}
.ad-list__item__title {
    padding: 0 1px;
}
.ad-list__item__title span {
    font-size: 15px;
    color: #3498db;
}
.ad-list-item__wrapper:hover .ad-list__item__title span {
    color: #333;
}

.ads-loading {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: gray;
}